header{
    height: 80px;
    background-color: blue;
    

}

img{
    height: 30px;
}


img h1{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(13, 13, 70);
    overflow-x: hidden;
    padding-top: 35px;
    transition: 0.5s;
}