html,body,h1{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    height: 110px;
    background-color: aquamarine;
    color: blue;
}
header img{
    position: absolute;
    margin: 20px 0 0 20px;
    margin-left:20px ;
    margin-top:20px ;
}

header h1, header nav{
    display: inline-block;
    margin-left: 100px;
    margin-top: 30px;
}

header nav li{
    display: inline-block;
    margin-left:20px ;
}

header nav li a{
    text-decoration: none;
}
header nav li a{
    color:blue;
}
input{
    margin-left: 500px;
}